# Database
DB_HOST=localhost
DB_PORT=5433
DB_USER=rag_user
DB_PASSWORD=password
DB_NAME=rag_db
PG_TABLE_NAME=llamaindex_vectors
EMBED_DIM=1024
TEXT_SEARCH_CONFIG=russian

# Models
LLM_MODEL=qwen2.5:1.5b
EMBED_MODEL=bge-m3
LLM_REQUEST_TIMEOUT=960.0
RERANKER_MODEL=models/cross-encoder-russian-msmarco
RERANKER_TOP_N=5

# Retrieval
RETRIEVER_TOP_K=30
RETRIEVER_SPARSE_TOP_K=30
